@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
	font-family: Poppins, serif;
     	background: #ffffff;
	background: -webkit-linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
	background: -moz-linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
   
}

p {
color: rgb(53, 58, 57);
font-family: "Poppins", sans-serif;
font-style: normal;

}

.nav-link {
	font-family: Poppins, serif;
    color: rgb(53, 58, 57);
}

.navbar-nav .nav-link.active {
    color: rgb(193, 201, 198);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: gray;
}

.sidebar {
    color: rgb(112, 136, 128);
    background: #ffffff;
	background: -webkit-linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
	background: -moz-linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
}


.card-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
	color: rgb(53, 58, 57);
  }

.card a{
    	text-decoration: None;
	color: white;
	background: #ffffff;
	background: -webkit-linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
	background: -moz-linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
	border-top: #6e6e6e;
}

button a{
    text-decoration: None;
	color: rgb(53, 58, 57);
}

.slide-text,
.footer-text,
.btn-outline-primary {
    color: rgb(76, 82, 80);
    margin: auto auto;
    font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

footer,
.btn-outline-primary {
	background: #ffffff;
	background: -webkit-linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
	background: -moz-linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #e3e3e3 100%);
	border-top: #6e6e6e;
}

.media-links {
    display: flex;
    justify-content:center;
    align-items: center;
}

.call-anim {
    animation: call1 2s ease 0s infinite normal forwards;
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

@keyframes call1 {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
